:root {
  --primary: white;
  --secondary: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
}

.layout_main_spacing {
  padding: 0 16px;
  margin-bottom: 32px;
}

.container {
  max-width: 1200px;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.top_section {
  background-color: var(--secondary);
  width: 100%;
  min-height: 216px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.circle_input_section {
  display: flex;
  min-height: 120px;
  padding: 10px;
  gap: 10px;
  align-items: center;

  .avatar {
    background-color: var(--primary);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    flex-shrink: 0;
  }

  .input {
    background-color: var(--primary);
    height: 100px;
    width: 100%;
    border-radius: 64px;
  }
}

.tag_info_section {
  display: flex;
  min-height: 48px;
  gap: 40px;
  justify-content: center;

  .tag_info {
    min-width: 184px;
    gap: 16px;
    display: flex;

    .square {
      background-color: var(--primary);
      height: 48px;
      width: 48px;
      flex-shrink: 0;
    }

    .line_container {
      display: flex;
      flex-direction: column;
      gap: 6px;
      width: 100%;

      .line {
        background-color: var(--primary);
        width: 100%;
        flex: 1;
      }
    }
  }
}

/* bottom section */

.bottom_section {
  background-color: var(--secondary);
  width: 100%;
  min-height: 1098px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 24px;

  .user_info_container {
    display: flex;
    justify-content: space-between;
    align-items: start;

    .user_info {
      max-width: 100%;
      display: flex;
      gap: 12px;

      .avatar {
        background-color: var(--primary);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        flex-shrink: 0;
      }

      .details {
        width: 216px;
        display: flex;
        flex-direction: column;
        padding: 8px;
        gap: 4px;

        .rect {
          background-color: var(--primary);
          height: 28px;
          width: 100%;
        }

        .line {
          background-color: var(--primary);
          height: 8px;
          width: 100%;
        }

        .more_details {
          max-width: 100px;
          display: flex;
          padding: 4px 0;
          gap: 4px;

          .box1 {
            background-color: var(--primary);
            height: 20px;
            width: 20px;
            flex-shrink: 0;
          }

          .box2 {
            background-color: var(--primary);
            height: 20px;
            width: 100%;
          }
        }
      }
    }

    .controls {
      display: flex;
      gap: 8px;

      .control {
        background-color: var(--primary);
        height: 24px;
        width: 24px;
      }
    }
  }

  .content_container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 21px;

    .bar1 {
      background-color: var(--primary);
      height: 28px;
      max-width: 358px;
    }

    .bar2 {
      background-color: var(--primary);
      height: 72px;
      width: 100%;
    }

    .content {
      background-color: var(--primary);
      flex-grow: 1;
    }
  }
}

@media screen and (max-width: 700px) {
  .tag_info_section {
    flex-direction: column;
    gap: 12px;
  }

  .user_info_container {
    flex-direction: column-reverse;
    gap: 14px;
  }

  .controls {
    width: 100%;
    justify-content: end;
  }
}
