* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7adfff;
}

.container {
  height: 946px;
  max-width: 1200px;
  margin: 52px auto;
}

.grid {
  display: grid;
}

.box1 {
  background-color: #4f8eec;
  grid-area: box1;
}

.box2 {
  background-color: #0a1e3c;
  grid-area: box2;
}

.box3 {
  background-color: #005c79;
  grid-area: box3;
}

@media screen and (min-width: 1201px) {
  .container {
    margin: 52px 120px;
  }
  .grid {
    gap: 16px;
    grid-template-areas:
      "box1 box1 box1 box3"
      "box1 box1 box1 box3"
      "box2 box2 box2 box3"
      "box2 box2 box2 box3"
      "box2 box2 box2 box3";
  }
}
@media screen and (min-width: 700px) and (max-width: 1200px) {
  .container {
    margin: 56px 60px;
  }
  .grid {
    gap: 20px;
    grid-template-areas:
      "box1 box1 box1 box3"
      "box2 box2 box2 box3"
      "box2 box2 box2 box3"
      "box2 box2 box2 box3";
  }
}
@media screen and (max-width: 699px) {
  .container {
    margin: 24px 16px;
  }
  .grid {
    gap: 16px;
    grid-template-areas:
      "box1"
      "box2"
      "box2"
      "box3"
      "box3";
  }
}
