* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebd6fb;
}

.container {
  max-width: 1200px;
  height: 1024px;
}

.box-container {
  display: flex;
}

.box {
  height: 200px;
  width: 100%;
}

.box1 {
  background-color: #e7caff;
}

.box2 {
  background-color: #e3a7ff;
}

.box3 {
  background-color: #7e45a8;
}

.box4 {
  background-color: #ab47fb;
}

.box5 {
  background-color: #9e38ef;
}

.box6 {
  background-color: #7629b2;
}

.box7 {
  background-color: #340c53;
}

.box8 {
  background-color: #560e8d;
}

@media screen and (width>=1440px) {
  .container {
    margin: 80px auto;
  }
}
@media screen and (width<1440px) and (width>=760px) {
  .container {
    margin: 40px 60px;
  }
}

@media screen and (width<760px) {
  .container {
    margin: 24px 16px;
  }
}
