@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sekuya&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #eef2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-types div img {
  width: 25px;
}

.login-form-container {
  width: 100%;
  max-width: 400px;
  height: 500px;
  background-color: white;
  padding: 50px 40px;
}

.login-header h2 {
  font-size: 22px;
  margin-bottom: 12px;
}

.login-header p {
  font-size: 13px;
  color: gray;
  margin-bottom: 20px;
}

.login-header {
  margin-bottom: 40px;
}

.login-inputs {
  margin-bottom: 25px;
}

.login-inputs input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.login-types-container p {
  font-size: 13px;
  color: gray;
  margin-bottom: 12px;
}

.login-types div {
  padding: 10px 30px;
  background-color: #f7f7f7;
  border-radius: 4px;
}

.login-types {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.login-form-container button {
  width: 100%;
  height: 40px;
  color: white;
  background-color: #0366ff;
  border: none;
  border-radius: 4px;
}

.login-inputs input:focus {
  border-color: #0366ff;
  outline: #0366ff;
}
