@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 85px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}
