* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #2f3237;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 30px;
}

img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1.5rem;
}

h1{
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  color: #aaa;
  margin-bottom: 2rem;
}

a {
  background-color: #3ecf8e;
  color: #111;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  transition: background-color 0.3s;
  border-radius: 4px;
}

a:hover {
  background-color: #04fc8d;
}

@media (max-width: 600px) {
  img {
    max-width: 350px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}
