:root {
  --body: #a70000;
  --brown: #5e0808;
  --red: #ff0000;
  --card: #ffd8d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body);
}

nav {
  background-color: var(--brown);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 36px 16px;
}

.navigation {
  display: flex;
  height: 100%;
  min-height: 93px;
  align-items: center;
  justify-content: space-between;
}

.left_nav {
  display: flex;
  height: 40px;
  max-width: 488px;
  width: 100%;
  gap: 16px;
}

.logo {
  background-color: var(--red);
  height: 40px;
  min-width: 160px;
}

.link {
  background-color: var(--red);
  height: 40px;
  width: 100%;
}

.profile {
  background-color: var(--red);
  height: 64px;
  width: 64px;
  border-radius: 32px;
}

main {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
/* card styling */

.card {
  background-color: #ffd8d8;
  padding: 24px;
  border-radius: 12px;
  gap: 24px;
  display: flex;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: var(--red);
}

.line_container {
  gap: 13px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.line {
  background-color: var(--brown);
  height: 24px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .logo {
    min-width: 70px;
  }
  .profile {
    height: 48px;
    width: 48px;
  }
  .left_nav {
    max-width: 266px;
  }
}
